.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #ee582e;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #ee582e;
}

.cardb {
  height: auto;
}

.cardb img {
  height: 300px;
}

a {
  color: rgb(223, 168, 168);
}
a:hover {
  color: #0f0f0f;
}

.imgleader {
  width: 100px;
  height: 100px;
}

.abouthead {
  background-color: #ee582e;
}
